.App {
  text-align: center;
}

.wandsContainer{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
  height: 40vh;
  width: 100vw;
  
}
.pictures{
  height: 175px;
  width: auto;
  border: solid black 1px;
}
.chosenContainer{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
  height: 40vh;
  width: 100vw;
  
}
.chosenPictures{
  height: 175px;
  width: auto;
  border: solid black 1px;
}