*{
  margin: 0;
}
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: whitesmoke;
  font-family: 'Shippori Mincho B1', serif;
}
.header{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 8vh;
  
  background-color: grey;
}
.headerWords{
  position: relative;
}
.wandsContainer{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
  height: 40vh;
  width: 100vw;
  
}
.pictures{
  height: 175px;
  width: auto;
  border: solid black 1px;
  border-radius: 10%;
}
.chosenContainer{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
  height: 40vh;
  width: 100vw;
  
}
.chosenPictures{
  height: 175px;
  width: auto;
  border: solid black 1px;
}